<div markdown="span"
    style=
        "
        overflow: hidden;
        color: #444;
        margin-bottom:10px;
        margin-top:10px;
        padding: 15px;
        box-sizing: border-box;
        background-color: #faf6e1 !important;
        border-color: #faebcc !important;
        border-style: solid !important;
        border-width: 2px !important;
        border-radius: 4px !important;
        ">
    ⚠️  <b style="font-weight: 700 !important;">Important:</b> {{include.content}}
</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
